Data Acquisition and Inspection

In [4]:
import pandas as pd

df = pd.read_csv('vehiclefueleconomies.csv', low_memory=False)

In [6]:
mixed_type_columns_indices = [72, 74, 75, 77]

for column_index in mixed_type_columns_indices:
    column_name = df.columns[column_index]
    unique_values = df.iloc[:, column_index].unique()
    print(f"Column '{column_name}':")
    print(unique_values)
    print()

Column 'evMotor':
[nan '49 kW DC Brushless' '85 kW AC Induction' '102kW AC Induction'
 '49kW DC Brushless' '67 KW AC  Induction' '67 KW AC' '56kW AC Induction'
 '62 KW AC Induction' '50 KW DC' '27 KW AC Induction' '67 KW AC Induction'
 '24 KW AC Synchronous' '288V Ni-MH' '330V Ni-MH' '36V Ni-MH' '245V Ni-MH'
 '158V Ni-MH' '202V Ni-MH' '150 kW' '300V Ni-MH' '101V Ni-MH' '275V Ni-MH'
 '126V Li-Ion' '312V Ni-MH' '80 kW DCPM' '111 kW' '30 kW DCPM'
 '270V Li-Ion' '125 kW AC Induction' '144V Li-Ion' '346V Li-Ion'
 '115V Li-Ion' '49 kW DCPM' '52 kW AC Induction' '144V Ni-MH'
 '100 kW DCPM' '107 kW AC Induction' '18 kW' '2 @ 150 kw (300 kw)'
 '260 kW AC Induction' '115 kW AC Induction' '374V Li-Ion' '75 kW AC PMSM'
 '280V Li-Ion' '107 kW AC PMSM' '92 kW DCPM' '266V Li-Ion' '55 kW DCPM'
 '68 kW' '220V Li-Ion' '225 kW AC Induction' '270 kW AC Induction'
 '82 kW ACIPM' '124 kW' '104 kW AC Induction' '259V Li-Ion' '260V Li-Ion'
 '126 kW' '270 kW AC Induction (85 kW-hr battery pack)'
 '225 kW AC Induction (60 kW-hr battery pack)' '70 kW'
 '132 kW AC Induction' '125kW' '96kW' '132kW' 'Two 480V Li-Ion'
 '180 and 350 kW AC Induction (85 kW-hr battery pack)'
 '95 kW and 116 kW DC Brushless' '104 kW ACPM' '82 kW AC Induction'
 '111 kW 3-Phase AC' '68 kW DCPM' '70 kW DC Brushless' '126 kW 3-Phase AC'
 '18 kW AC Induction' '81 kW AC PMSM' '132 kW AC Synchronous'
 '85 kW AC PMSM' '164 (front) 350 (rear) (85 kW-hr battery pack)'
 '140 (front) 140 (rear) (85 kW-hr battery pack)'
 '140 (front) 140 (rear) (70 kW-hr battery pack)' '85 kW DCPM'
 '140 (front) 140 (rear) (90 kW-hr battery pack)'
 '164 (front) 350 (rear) (90 kW-hr battery pack)'
 '285 kW AC Induction (90 kW-hr battery pack)' '55 and 174kW 3-Phase AC'
 '48 and 87 kW 3-Phase AC'
 '193 (front) 193 (rear) (90 kW-hr battery pack)'
 '193 (front) 375 (rear) (90 kW-hr battery pack)' '105 kW ACPM'
 '50 kW IPMSM' '83 kW AC Induction' '207V Li-Ion' '34 and 65kW DCPM'
 '285 kW AC Induction (70 kW-hr battery pack)'
 '285 kW AC Induction (85 kW-hr battery pack)'
 '193 (front) 193 (rear) (70 kW-hr battery pack)'
 '193 (front) 193 (rear) (85 kW-hr battery pack)'
 '193 (front) 375 (rear) (85 kW-hr battery pack)' '65kW' '300V Li-Ion'
 '86V Li-Ion' '285 kW AC Induction (75 kW-hr battery pack)'
 '193 (front) 193 (rear) (75 kW-hr battery pack)' '75 kW AC PM/B'
 '285 kW AC Induction (60 kW-hr battery pack)'
 '193 (front) 193 (rear) (60 kW-hr battery pack)'
 '193 (front) 375 (rear) (100 kW-hr battery pack)' '60 kW DCPM'
 '83kW DCPM' 'Two 444V Li-Ion' '150 kW ACPM' '125kW AC Induction'
 '96kW AC Induction' '50kW IPMSM' '88 kW AC PMSM' '240V Li-Ion'
 '89 kW AC Induction' '202V Li-Ion' '16 and 37 kW AC Induction'
 '100 kW AC PMSM' '193 (front) 193 (rear) (100 kW-hr battery pack)'
 '59 and 61kW 3-Phase AC' '120 kW AC PMSM' '60 KW AC Synchronous'
 '192 kW AC 3-Phase' '311V Li-Ion' '65 kW AC Induction'
 '34 and 65kW 3-phase Sync.' '150 and 150 kw DCPM'
 '59 and 61 kW 3-Phase AC' '32kW IPMSM' '135kW AC PMSM'
 '202 kW AC 3-Phase' '270 kW AC Induction (75 kW-hr battery pack)'
 '110 kW DCPM' '48V Li-Ion' '147 and 188 kW AC 3-Phase'
 '147 and 202 kW AC 3-Phase' '222V Li-Ion' '150 kW AC PMSM'
 '147 and 147 kW AC 3-Phase']

Column 'c240Dscr':
[nan 'single charger' '3.6 kW charger' 'standard charger' '7.2 kW charger'
 '6.6 kW charger']

Column 'charge240b':
[0.   3.75 4.75 4.   2.5  5.   7.   8.5 ]

Column 'createdOn':
['Tue Jan 01 00:00:00 EST 2013' 'Wed Dec 04 00:00:00 EST 2013'
 'Mon Feb 17 00:00:00 EST 2014' 'Wed Apr 16 00:00:00 EDT 2014'
 'Mon Aug 04 00:00:00 EDT 2014' 'Tue Oct 29 00:00:00 EDT 2013'
 'Mon Nov 04 00:00:00 EST 2013' 'Thu Nov 07 00:00:00 EST 2013'
 'Tue Nov 19 00:00:00 EST 2013' 'Wed Dec 18 00:00:00 EST 2013'
 'Thu Dec 19 00:00:00 EST 2013' 'Mon Jan 13 00:00:00 EST 2014'
 'Wed Jan 22 00:00:00 EST 2014' 'Fri Feb 07 00:00:00 EST 2014'
 'Fri Feb 28 00:00:00 EST 2014' 'Mon Mar 10 00:00:00 EDT 2014'
 'Fri Mar 21 00:00:00 EDT 2014' 'Wed Apr 02 00:00:00 EDT 2014'
 'Mon May 05 00:00:00 EDT 2014' 'Thu May 15 00:00:00 EDT 2014'
 'Mon Jun 16 00:00:00 EDT 2014' 'Wed Jun 25 00:00:00 EDT 2014'
 'Fri Jun 27 00:00:00 EDT 2014' 'Mon Jul 07 00:00:00 EDT 2014'
 'Thu Jul 17 00:00:00 EDT 2014' 'Wed Aug 20 00:00:00 EDT 2014'
 'Wed Aug 27 00:00:00 EDT 2014' 'Wed Sep 10 00:00:00 EDT 2014'
 'Mon Oct 13 00:00:00 EDT 2014' 'Mon Jan 12 00:00:00 EST 2015'
 'Fri May 29 00:00:00 EDT 2015' 'Mon Jan 06 00:00:00 EST 2014'
 'Fri Jan 17 00:00:00 EST 2014' 'Wed Feb 05 00:00:00 EST 2014'
 'Thu Feb 20 00:00:00 EST 2014' 'Tue Mar 04 00:00:00 EST 2014'
 'Mon Apr 07 00:00:00 EDT 2014' 'Fri Apr 11 00:00:00 EDT 2014'
 'Mon Apr 21 00:00:00 EDT 2014' 'Fri Apr 25 00:00:00 EDT 2014'
 'Wed May 14 00:00:00 EDT 2014' 'Mon May 19 00:00:00 EDT 2014'
 'Fri May 30 00:00:00 EDT 2014' 'Fri Jun 06 00:00:00 EDT 2014'
 'Thu Jun 19 00:00:00 EDT 2014' 'Thu Jun 26 00:00:00 EDT 2014'
 'Wed Jul 16 00:00:00 EDT 2014' 'Wed Jul 23 00:00:00 EDT 2014'
 'Thu Jul 31 00:00:00 EDT 2014' 'Tue Aug 12 00:00:00 EDT 2014'
 'Thu Sep 04 00:00:00 EDT 2014' 'Thu Sep 11 00:00:00 EDT 2014'
 'Thu Sep 18 00:00:00 EDT 2014' 'Thu Sep 25 00:00:00 EDT 2014'
 'Mon Oct 06 00:00:00 EDT 2014' 'Thu Oct 09 00:00:00 EDT 2014'
 'Thu Oct 16 00:00:00 EDT 2014' 'Mon Oct 27 00:00:00 EDT 2014'
 'Thu Nov 06 00:00:00 EST 2014' 'Thu Nov 20 00:00:00 EST 2014'
 'Wed Dec 10 00:00:00 EST 2014' 'Wed Dec 17 00:00:00 EST 2014'
 'Thu Dec 18 00:00:00 EST 2014' 'Tue Jan 06 00:00:00 EST 2015'
 'Thu Jan 22 00:00:00 EST 2015' 'Tue Jan 27 00:00:00 EST 2015'
 'Fri Feb 06 00:00:00 EST 2015' 'Wed Feb 18 00:00:00 EST 2015'
 'Fri Feb 20 00:00:00 EST 2015' 'Tue Mar 03 00:00:00 EST 2015'
 'Tue Mar 17 00:00:00 EDT 2015' 'Mon Apr 06 00:00:00 EDT 2015'
 'Tue May 05 00:00:00 EDT 2015' 'Wed Sep 16 00:00:00 EDT 2015'
 'Thu Aug 06 00:00:00 EDT 2015' 'Tue Aug 18 00:00:00 EDT 2015'
 'Thu Jan 21 00:00:00 EST 2016' 'Thu May 04 00:00:00 EDT 2017'
 'Wed Jan 14 00:00:00 EST 2015' 'Fri Feb 27 00:00:00 EST 2015'
 'Thu Mar 12 00:00:00 EDT 2015' 'Wed Mar 25 00:00:00 EDT 2015'
 'Tue Apr 07 00:00:00 EDT 2015' 'Thu Apr 09 00:00:00 EDT 2015'
 'Wed Apr 22 00:00:00 EDT 2015' 'Tue May 12 00:00:00 EDT 2015'
 'Thu May 21 00:00:00 EDT 2015' 'Mon Jun 08 00:00:00 EDT 2015'
 'Wed Jun 10 00:00:00 EDT 2015' 'Wed Jun 17 00:00:00 EDT 2015'
 'Wed Jun 24 00:00:00 EDT 2015' 'Thu Jul 02 00:00:00 EDT 2015'
 'Tue Jul 14 00:00:00 EDT 2015' 'Thu Jul 16 00:00:00 EDT 2015'
 'Mon Jul 27 00:00:00 EDT 2015' 'Wed Aug 12 00:00:00 EDT 2015'
 'Wed Aug 26 00:00:00 EDT 2015' 'Mon Aug 31 00:00:00 EDT 2015'
 'Fri Sep 04 00:00:00 EDT 2015' 'Wed Sep 09 00:00:00 EDT 2015'
 'Fri Sep 25 00:00:00 EDT 2015' 'Fri Oct 02 00:00:00 EDT 2015'
 'Mon Oct 12 00:00:00 EDT 2015' 'Mon Oct 19 00:00:00 EDT 2015'
 'Wed Oct 28 00:00:00 EDT 2015' 'Wed Nov 04 00:00:00 EST 2015'
 'Thu Nov 12 00:00:00 EST 2015' 'Thu Nov 19 00:00:00 EST 2015'
 'Wed Dec 02 00:00:00 EST 2015' 'Thu Dec 10 00:00:00 EST 2015'
 'Thu Dec 17 00:00:00 EST 2015' 'Tue Jan 05 00:00:00 EST 2016'
 'Wed Jan 13 00:00:00 EST 2016' 'Thu Jan 28 00:00:00 EST 2016'
 'Tue Feb 02 00:00:00 EST 2016' 'Wed Feb 10 00:00:00 EST 2016'
 'Wed Feb 17 00:00:00 EST 2016' 'Wed Feb 24 00:00:00 EST 2016'
 'Wed Mar 02 00:00:00 EST 2016' 'Thu Mar 10 00:00:00 EST 2016'
 'Thu Mar 17 00:00:00 EDT 2016' 'Thu Mar 24 00:00:00 EDT 2016'
 'Mon Apr 04 00:00:00 EDT 2016' 'Tue Apr 12 00:00:00 EDT 2016'
 'Wed Apr 20 00:00:00 EDT 2016' 'Tue Apr 26 00:00:00 EDT 2016'
 'Wed May 04 00:00:00 EDT 2016' 'Tue May 24 00:00:00 EDT 2016'
 'Thu Jun 02 00:00:00 EDT 2016' 'Fri Jun 03 00:00:00 EDT 2016'
 'Wed Jul 13 00:00:00 EDT 2016' 'Wed Jul 20 00:00:00 EDT 2016'
 'Wed Aug 10 00:00:00 EDT 2016' 'Tue Sep 13 00:00:00 EDT 2016'
 'Fri Dec 02 00:00:00 EST 2016' 'Mon Dec 12 00:00:00 EST 2016'
 'Tue May 10 00:00:00 EDT 2016' 'Wed May 18 00:00:00 EDT 2016'
 'Fri May 27 00:00:00 EDT 2016' 'Fri Jun 10 00:00:00 EDT 2016'
 'Thu Jun 16 00:00:00 EDT 2016' 'Fri Jun 24 00:00:00 EDT 2016'
 'Thu Jul 07 00:00:00 EDT 2016' 'Wed Jul 27 00:00:00 EDT 2016'
 'Tue Aug 02 00:00:00 EDT 2016' 'Wed Aug 17 00:00:00 EDT 2016'
 'Thu Aug 25 00:00:00 EDT 2016' 'Thu Sep 01 00:00:00 EDT 2016'
 'Fri Sep 16 00:00:00 EDT 2016' 'Mon Sep 26 00:00:00 EDT 2016'
 'Wed Oct 05 00:00:00 EDT 2016' 'Wed Oct 12 00:00:00 EDT 2016'
 'Wed Oct 19 00:00:00 EDT 2016' 'Wed Oct 26 00:00:00 EDT 2016'
 'Mon Nov 07 00:00:00 EST 2016' 'Mon Nov 14 00:00:00 EST 2016'
 'Tue Nov 15 00:00:00 EST 2016' 'Wed Nov 16 00:00:00 EST 2016'
 'Tue Nov 22 00:00:00 EST 2016' 'Fri Dec 16 00:00:00 EST 2016'
 'Thu Dec 22 00:00:00 EST 2016' 'Wed Jan 04 00:00:00 EST 2017'
 'Wed Jan 11 00:00:00 EST 2017' 'Wed Jan 18 00:00:00 EST 2017'
 'Wed Jan 25 00:00:00 EST 2017' 'Thu Feb 02 00:00:00 EST 2017'
 'Fri Feb 10 00:00:00 EST 2017' 'Fri Feb 24 00:00:00 EST 2017'
 'Thu Mar 02 00:00:00 EST 2017' 'Thu Mar 16 00:00:00 EDT 2017'
 'Tue Mar 28 00:00:00 EDT 2017' 'Tue Apr 11 00:00:00 EDT 2017'
 'Wed Apr 19 00:00:00 EDT 2017' 'Wed May 03 00:00:00 EDT 2017'
 'Wed May 10 00:00:00 EDT 2017' 'Mon Jun 05 00:00:00 EDT 2017'
 'Fri Jun 16 00:00:00 EDT 2017' 'Thu Jul 13 00:00:00 EDT 2017'
 'Thu Aug 03 00:00:00 EDT 2017' 'Mon Aug 28 00:00:00 EDT 2017'
 'Thu Sep 21 00:00:00 EDT 2017' 'Wed Oct 11 00:00:00 EDT 2017'
 'Fri Nov 10 00:00:00 EST 2017' 'Tue Nov 28 00:00:00 EST 2017'
 'Thu Dec 14 00:00:00 EST 2017' 'Wed Jan 03 00:00:00 EST 2018'
 'Fri Mar 10 00:00:00 EST 2017' 'Wed Apr 05 00:00:00 EDT 2017'
 'Tue Apr 25 00:00:00 EDT 2017' 'Tue May 09 00:00:00 EDT 2017'
 'Mon May 22 00:00:00 EDT 2017' 'Wed May 24 00:00:00 EDT 2017'
 'Mon Jun 12 00:00:00 EDT 2017' 'Mon Jun 26 00:00:00 EDT 2017'
 'Wed Jul 05 00:00:00 EDT 2017' 'Wed Jul 19 00:00:00 EDT 2017'
 'Wed Jul 26 00:00:00 EDT 2017' 'Thu Aug 10 00:00:00 EDT 2017'
 'Wed Aug 16 00:00:00 EDT 2017' 'Fri Sep 01 00:00:00 EDT 2017'
 'Mon Sep 11 00:00:00 EDT 2017' 'Wed Sep 27 00:00:00 EDT 2017'
 'Wed Oct 04 00:00:00 EDT 2017' 'Mon Oct 23 00:00:00 EDT 2017'
 'Fri Nov 03 00:00:00 EDT 2017' 'Thu Nov 16 00:00:00 EST 2017'
 'Tue Dec 05 00:00:00 EST 2017' 'Wed Dec 20 00:00:00 EST 2017'
 'Thu Jan 11 00:00:00 EST 2018' 'Thu Jan 18 00:00:00 EST 2018'
 'Wed Jan 24 00:00:00 EST 2018' 'Tue Feb 06 00:00:00 EST 2018'
 'Mon Feb 12 00:00:00 EST 2018' 'Mon Feb 19 00:00:00 EST 2018'
 'Mon Feb 26 00:00:00 EST 2018' 'Fri Mar 02 00:00:00 EST 2018'
 'Mon Mar 12 00:00:00 EDT 2018' 'Mon Mar 19 00:00:00 EDT 2018'
 'Mon Mar 26 00:00:00 EDT 2018' 'Wed Apr 04 00:00:00 EDT 2018'
 'Tue Apr 10 00:00:00 EDT 2018' 'Wed Apr 25 00:00:00 EDT 2018'
 'Mon May 07 00:00:00 EDT 2018' 'Tue Jun 05 00:00:00 EDT 2018'
 'Thu Jul 12 00:00:00 EDT 2018' 'Fri Aug 03 00:00:00 EDT 2018'
 'Mon Nov 19 00:00:00 EST 2018' 'Wed Apr 18 00:00:00 EDT 2018'
 'Wed May 02 00:00:00 EDT 2018' 'Wed May 16 00:00:00 EDT 2018'
 'Tue May 29 00:00:00 EDT 2018' 'Wed Jun 13 00:00:00 EDT 2018'
 'Wed Jun 27 00:00:00 EDT 2018' 'Tue Jul 03 00:00:00 EDT 2018'
 'Tue Jul 17 00:00:00 EDT 2018' 'Wed Jul 25 00:00:00 EDT 2018'
 'Fri Aug 10 00:00:00 EDT 2018' 'Thu Aug 16 00:00:00 EDT 2018'
 'Fri Aug 17 00:00:00 EDT 2018' 'Fri Aug 24 00:00:00 EDT 2018'
 'Thu Aug 30 00:00:00 EDT 2018' 'Tue Sep 11 00:00:00 EDT 2018'
 'Fri Sep 21 00:00:00 EDT 2018' 'Tue Sep 25 00:00:00 EDT 2018'
 'Wed Oct 03 00:00:00 EDT 2018' 'Wed Oct 17 00:00:00 EDT 2018'
 'Fri Nov 02 00:00:00 EDT 2018' 'Fri Nov 09 00:00:00 EST 2018']

In [8]:
print("Shape Of the dataset:", df.shape)

Shape Of the dataset: (40704, 83)

In [10]:
print("Preview of the dataset:")
print(df.head())

Preview of the dataset:
   barrels08  barrelsA08  charge120  charge240  city08  city08U  cityA08  \
0  15.695714         0.0          0        0.0      18      0.0        0
1  14.982273         0.0          0        0.0      20      0.0        0
2  21.974000         0.0          0        0.0      13      0.0        0
3  21.974000         0.0          0        0.0      13      0.0        0
4  19.388824         0.0          0        0.0      15      0.0        0

   cityA08U  cityCD  cityE  ...  mfrCode  c240Dscr  charge240b  c240bDscr  \
0       0.0     0.0    0.0  ...      NaN       NaN         0.0        NaN
1       0.0     0.0    0.0  ...      NaN       NaN         0.0        NaN
2       0.0     0.0    0.0  ...      NaN       NaN         0.0        NaN
3       0.0     0.0    0.0  ...      NaN       NaN         0.0        NaN
4       0.0     0.0    0.0  ...      NaN       NaN         0.0        NaN

                      createdOn                    modifiedOn  startStop  \
0  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013        NaN
1  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013        NaN
2  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013        NaN
3  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013        NaN
4  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013        NaN

   phevCity  phevHwy  phevComb
0         0        0         0
1         0        0         0
2         0        0         0
3         0        0         0
4         0        0         0

[5 rows x 83 columns]

In [12]:
print("Summary statistics for numerical columns:")
print(df.describe())

Summary statistics for numerical columns:
          barrels08    barrelsA08  charge120     charge240        city08  \
count  40704.000000  40704.000000    40704.0  40704.000000  40704.000000
mean      17.325764      0.221045        0.0      0.037817     18.276533
std        4.602734      1.144019        0.0      0.545918      7.555437
min        0.060000      0.000000        0.0      0.000000      6.000000
25%       14.330870      0.000000        0.0      0.000000     15.000000
50%       16.480500      0.000000        0.0      0.000000     17.000000
75%       19.388824      0.000000        0.0      0.000000     20.000000
max       47.087143     18.311667        0.0     13.000000    150.000000

            city08U       cityA08      cityA08U        cityCD         cityE  \
count  40704.000000  40704.000000  40704.000000  40704.000000  40704.000000
mean       5.752379      0.635294      0.487652      0.000464      0.284498
std       11.267965      4.917537      4.751373      0.038980      3.558827
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000      0.000000      0.000000
75%       13.333625      0.000000      0.000000      0.000000      0.000000
max      150.000000    145.000000    145.083500      5.350000    122.000000

       ...         UCity        UCityA      UHighway     UHighwayA  \
count  ...  40704.000000  40704.000000  40704.000000  40704.000000
mean   ...     23.072373      0.816869     34.211906      1.104298
std    ...     10.713620      6.874517     10.926457      7.420559
min    ...      0.000000      0.000000      0.000000      0.000000
25%    ...     18.183500      0.000000     27.790325      0.000000
50%    ...     21.323800      0.000000     33.145500      0.000000
75%    ...     25.800000      0.000000     39.000000      0.000000
max    ...    224.800000    207.262200    182.700000    173.143600

               year  youSaveSpend    charge240b      phevCity       phevHwy  \
count  40704.000000  40704.000000  40704.000000  40704.000000  40704.000000
mean    2001.342890  -3880.601415      0.007591      0.133353      0.133525
std       11.046497   3157.821721      0.198383      2.724355      2.627573
min     1984.000000 -28250.000000      0.000000      0.000000      0.000000
25%     1991.000000  -5750.000000      0.000000      0.000000      0.000000
50%     2002.000000  -3750.000000      0.000000      0.000000      0.000000
75%     2011.000000  -1750.000000      0.000000      0.000000      0.000000
max     2019.000000   5000.000000      8.500000     97.000000     81.000000

           phevComb
count  40704.000000
mean       0.132837
std        2.663409
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max       88.000000

[8 rows x 59 columns]

Handling Missing Values

In [20]:
print("columns with missing values in the dataset:")
missing_columns = {}

for column in df.columns:
    missing_count = df[column].isnull().sum()
    if missing_count > 0:
        missing_columns[columns] = missing_count

sorted_missing_columns = sorted(missing_columns.items(), key=lambda x: x[1])

for columns, missing_count in sorted_missing_columns:
    print(f"{column}: {missing_count} missing values")

columns with missing values in the dataset:
phevComb: 31704 missing values

In [22]:
columns_with_missing = ['trany', 'displ', 'drive']
df_cleaned = df.dropna(subset = columns_with_missing)
print("Shape of the cleaned DataFrame after dropping rows:", df_cleaned.shape)

Shape of the cleaned DataFrame after dropping rows: (39343, 83)

In [24]:
if 'EV' in df_cleaned['atvType'].unique():
    print("Type 'EV' exists in the 'atvType' column.")
else:
    print("Type 'EV' does not exists in the 'atvType' column.")

Type 'EV' exists in the 'atvType' column.

In [26]:
ev_df = df_cleaned[df_cleaned['atvType'] == 'EV']
print("Cylinder values where 'atvType' is 'EV':")
print(ev_df['cylinders'].unique())

Cylinder values where 'atvType' is 'EV':
[nan]

In [32]:
ev_null_cylinders = df_cleaned[(df_cleaned['atvType'] == 'EV') & (df_cleaned['cylinders'].isnull())]
df_cleaned.loc[(df_cleaned['atvType'] == 'EV') & (df_cleaned['cylinders'].isnull()), 'cylinders'] == 0

35738    False
Name: cylinders, dtype: bool

In [34]:
ev_df = df_cleaned[df_cleaned['atvType'] == 'EV']
print("Cylinder values where 'atvType' is 'EV':")
print(ev_df['cylinders'].unique())

Cylinder values where 'atvType' is 'EV':
[nan]

In [36]:
print("Distinct values in the 'cylinders' column:")
print(df_cleaned['cylinders'].unique())

Distinct values in the 'cylinders' column:
[ 6.  8.  4. 12.  2.  5.  3. nan 10. 16.]

In [38]:
nan_cylinders_df = df_cleaned[df_cleaned['cylinders'].isnull()]
print("Values in the 'atvType' column where 'cylinders' is NaN:")
print(nan_cylinders_df['atvType'])

Values in the 'atvType' column where 'cylinders' is NaN:
4867     NaN
35738     EV
Name: atvType, dtype: object